.imagemLogin {
	background-image: url("https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.linkLogin {
	text-decoration: underline;
}

.MenuItem.Mui-selected {
	color: red;
}

.linkLogin:hover {
	color: var(--blue-900);
}

.botaolegal:hover {
	filter: brightness(1.1);
}

.linkLogin {
	text-decoration: underline;
	color: var(--blue-600);
}

.linkLogin:hover {
	color: var(--blue-900);
}

.loaderLogin {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 32px 0 #fff, -32px 0 #fff;
	position: relative;
	animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
	0% {
		background-color: #fff2;
		box-shadow: 32px 0 #fff2, -32px 0 #fff;
	}
	50% {
		background-color: #fff;
		box-shadow: 32px 0 #fff2, -32px 0 #fff2;
	}
	100% {
		background-color: #fff2;
		box-shadow: 32px 0 #fff, -32px 0 #fff2;
	}
}
