.imagemLogin {
	background-image: url("https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.linkLogin {
	text-decoration: underline;
	color: var(--blue-600);
}

.linkLogin:hover {
	color: var(--blue-900);
}

.botaolegal {
	background-color: #f60 !important;
}

.botaolegal:hover {
	background-color: rgb(139, 57, 2) !important;
}
